<div th:fragment="exchangeRates">
    <h2>Курсы валют</h2>
    <table border="1" style="text-align: center; border-collapse: collapse;">
        <thead>
        <tr>
            <th>Базовая валюта \ Целевая</th>
            <th>RUB</th>
            <th>USD</th>
            <th>EUR</th>
            <th>CNY</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${exchangeTable}">
            <td><b th:text="${entry.key}"></b></td>
            <td th:text="${entry.value['RUB']} ?: '-'"></td>
            <td th:text="${entry.value['USD']} ?: '-'"></td>
            <td th:text="${entry.value['EUR']} ?: '-'"></td>
            <td th:text="${entry.value['CNY']} ?: '-'"></td>
        </tr>
        </tbody>
    </table>
</div>