<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <title>Главная</title>
</head>

<main layout:fragment="content">

    <div sec:authorize="isAuthenticated()">
        <section th:replace="fragments/account-settings :: accountSettings"></section>
        <section th:replace="fragments/deposit-withdraw :: depositWithdraw"></section>
        <section th:replace="fragments/self-transfer :: selfTransfer"></section>
        <section th:replace="fragments/user-transfer :: userTransfer"></section>
        <section th:replace="fragments/exchange-rates :: exchangeRates"></section>
    </div>

    <div sec:authorize="isAnonymous()">
        <p>Пожалуйста, <a th:href="@{/login}">войдите в систему</a>, чтобы получить доступ к функциональности.</p>
    </div>

</main>
</html>